/* miette estilos */

#topNav{
	padding:10px !important;
}

.menta_miette_letra{
	color:#47b9b2 !important;

}

.btn_cafe{
	background-color: #3f2a2e;
	border-color:#3f2a2e;
}

.made_with_love{
	width: 600px;
}


.swiper-pagination-bullet-active{
	background-color: #47b9b2 !important;
}

section.miette_cafe.page-header {
    color: #87cbc9;
    background-color: #3f2a2e;
}

section.miette_menta.page-header {
    color: #3f2a2e;
    background-color: #47b9b2;
}

section.miette_menta_claro.page-header {
    color: #3f2a2e;
    background-color: #87cbc9;
    opacity: 0.8;
}


section.miette_menta_claro.page-header h1 span{
    opacity: none;
}

.footer-logo{
	height: 60px !important;
}

#footer{
	background: linear-gradient(to bottom, #47b9b2 0%,#87cbc9 100%);
}

.descripcion-producto{

}

.bg_miette_menta_claro{
	background-color: #87cbc9;
}

.corazon{
	font-size: 46px !important;
	font-weight: bold !important;

}

@media only screen and (max-width: 768px) {
	.corazon{
		font-size: 22px !important;
		font-weight: bold !important;
	}
}

.open_sans{
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 600;
	letter-spacing: 0.2em;
}

#header.fixed #topMain.nav-pills>li>a{
	color: #3f2a2e;
}

#header.transparent #topMain.nav-pills>li>a {
	color:#fff;
}

#header.fixed.transparent ul.nav-second-main li a,
#header.fixed.transparent ul.nav-second-main li a>i,
#header.fixed.transparent #topMain.nav-pills>li>a {
	color: #3f2a2e;
}

.texto_cafe{
	color: #3f2a2e;
}
